<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8" />
    <title>ToDo list</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="box" id="heading">
        <h1> <%= listTitle %> </h1>
    </div>
    <div class="box">
        <%newListItem.forEach(function(item){%>
            <form action="/delete" method="post">
                <div class="check">
                    <input type="checkbox" name="checkbox" value="<%=item.id%>" onchange="this.form.submit()">
                    <p><%= item.name%></p>
                </div>
                <input type="hidden" name="lisName" value="<%= listTitle %>">
            </form>
        <%})%>
        <form action="/" method="post" class="item">
            <input type="text" name="newItem" placeholder="សូមបញ្ចូលកត់ចំណាំ">
            <button type="submit" name="list" value="<%= listTitle %>">បញ្ចូល</button>
            <button type="submit" name="list" value="Today">ថ្ងៃនេះ</button>
            <button type="submit" name="list" value="Work">ការងារ</button>
        </form>
    </div>
    
</body>
</html>